<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="wrap">
                <div class="header-nav">
                    <img src="../img/Your-Logo.svg" alt="" class="header-nav__logo">
                    <ul class="header-nav__menu">
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Home</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">About</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Servicing</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Portfolio</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Blog</a></li>
                        <li class="header-nav__item"><a href="#" class="header-nav__link">Contact us</a></li>
                        <li class="header-nav__search">&#960;&#960;</li>
                    </ul>
                </div>
                <div class="content-wrap">
                    <div class="header-content">             
                        <h1 class="header-content__title">Web development project</h1>
                        <p class="header-content__subtitle">Very suitable to support all web development projects</p>
                        <div class="header-content-buttons">
                            <a href="" class="header-content__btn">OUR SERVICES</a>
                            <a href="" class="header-content__btn header-content__btn_bg">HIRE IS NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bg"><img src="../img/main-bg.jpg" alt="" class="header__img"></div>
        </header>
        <div class="page">
            <div class="wrap">
                <h2 class="page__title">About Us</h2>
                <p class="page__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="block-about">
                    <div class="block-about__item">
                        <img src="../img/internet.png" alt="" class="block-about__img">
                        <h3 class="block-about__title">Awesome Icons</h3>
                        <p class="block-about__text">Lorem ipsum dolor sit amet, con- sectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                    <div class="block-about__item">
                        <img src="../img/transfer.png" alt="" class="block-about__img">
                        <h3 class="block-about__title">One Page</h3>
                        <p class="block-about__text">Lorem ipsum dolor sit amet, con- sectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                    <div class="block-about__item">
                        <img src="../img/head.png" alt="" class="block-about__img">
                        <h3 class="block-about__title">Fully Responsive</h3>
                        <p class="block-about__text">Lorem ipsum dolor sit amet, con- sectetur adipisicing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_green">
            <div class="wrap">
                <h2 class="page__title">Our Services</h2>
                <p class="page__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="services">
                    <div class="services-item">
                        <img src="../img/smartphone.png" alt="" class="services__img">
                        <h3 class="services__title">Research</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blan- ditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="services__btn">READ MORE</a>
                    </div>
                    <div class="services-item">
                        <img src="../img/smartphone.png" alt="" class="services__img">
                        <h3 class="services__title">Portfolio</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui bland- itiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="services__btn">READ MORE</a>
                    </div>
                    <div class="services-item">
                        <img src="../img/smartphone.png" alt="" class="services__img">
                        <h3 class="services__title">Support</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui bland- itiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="services__btn">READ MORE</a>
                    </div>
                    <div class="services-item">
                        <img src="../img/smartphone.png" alt="" class="services__img">
                        <h3 class="services__title">Documentation</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blan- ditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="services__btn">READ MORE</a>
                    </div>
                    <div class="services-item">
                        <img src="../img/smartphone.png" alt="" class="services__img">
                        <h3 class="services__title">Development</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blan- ditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="services__btn">READ MORE</a>
                    </div>
                    <div class="services-item">
                        <img src="../img/smartphone.png" alt="" class="services__img">
                        <h3 class="services__title">Design</h3>
                        <p class="services__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blan- ditiis praesentium voluptatum iti atque corrupti quos.</p>
                        <a href="" class="services__btn">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <h2 class="page__title">Latest Works</h2>
                <p class="page__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="block-works">
                    <div class="block-works-buttons">
                        <button class="block-works__btn">ALL</button>
                        <button class="block-works__btn">WEB DESIGN</button>
                        <button class="block-works__btn">UI/UX DESIGN</button>
                        <button class="block-works__btn">MOCKUPS</button>
                    </div>
                    <div class="block-works-list">
                        <div class="block-works-item">
                            <img src="../img/watch.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Hand Watch<span>ui/ux design</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/tea.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Tea<span>Web design</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/sleepwear.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Sleepwear<span>Web design</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/flask.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Flask<span>Mockups</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/wine.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Wine<span>ui/Mockups</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/handbag.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Handbag<span>ui/ux design</span></h3>
                        </div>
                        <!-- <div class="block-works-item">
                            <img src="../img/handbag.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Hand Watch<span>Web design</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/handbag.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Hand Watch<span>Mockups</span></h3>
                        </div>
                        <div class="block-works-item">
                            <img src="../img/handbag.jpg" alt="" class="block-works__img">
                            <h3 class="block-works__title">Hand Watch<span>ui/ux design</span></h3>
                        </div> -->
                    </div>
                    <button class="block-works__btn block-works__btn_big">VIEW ALL</button>
                </div>
            </div>
        </div>
        <div class="page page_gray">
            <div class="wrap">
                <h2 class="page__title">Pricing Plan</h2>
                <p class="page__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="block-price">
                    <div class="block-price-item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370 209"><path d="M0 0h370v178.41L0 209V0z" fill="#3949ab" fill-rule="evenodd"/></svg>
                        <div class="block-price-text">
                            <h3 class="block-price__title">Free Trail</h3>
                            <div class="block-price-amount">
                                <p class="block-price__currency">$</p>
                                <span>00</span>
                                <p class="block-price__desc">per month</p>
                            </div>
                        </div>                                           
                        <ul class="block-price-list">
                            <li class="block-price__item">30 Free Trail</li>
                            <li class="block-price__item">5 Free Projects</li>
                            <li class="block-price__item">PHP 5 Enabled</li>
                            <li class="block-price__item">24/7 Suports</li>
                            <button class="block-price__btn">ORDER NOW</button>
                        </ul>
                    </div>
                    <div class="block-price-item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370 209"><path d="M0 0h370v178.41L0 209V0z" fill="#3949ab" fill-rule="evenodd"/></svg>
                        <div class="block-price-text">
                            <h3 class="block-price__title">Basic</h3>
                            <div class="block-price-amount">
                                <p class="block-price__currency">$</p>
                                <span>50</span>
                                <p class="block-price__desc">per month</p>
                            </div>
                        </div>
                        <ul class="block-price-list">
                            <li class="block-price__item">30 Free Trail</li>
                            <li class="block-price__item">5 Free Projects</li>
                            <li class="block-price__item">PHP 5 Enabled</li>
                            <li class="block-price__item">24/7 Suports</li>
                            <button class="block-price__btn">ORDER NOW</button>
                        </ul>
                    </div>
                    <div class="block-price-item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370 209"><path d="M0 0h370v178.41L0 209V0z" fill="#3949ab" fill-rule="evenodd"/></svg>
                        <div class="block-price-text">
                            <h3 class="block-price__title">Ultimates</h3>
                            <div class="block-price-amount">
                                <p class="block-price__currency">$</p>
                                <span>99</span>
                                <p class="block-price__desc">per month</p>
                            </div>
                        </div>
                        <ul class="block-price-list">
                            <li class="block-price__item">30 Free Trail</li>
                            <li class="block-price__item">5 Free Projects</li>
                            <li class="block-price__item">PHP 5 Enabled</li>
                            <li class="block-price__item">24/7 Suports</li>
                            <button class="block-price__btn">ORDER NOW</button>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <h2 class="page__title">Our Team Member</h2>
                <p class="page__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="block-team">
                    <div class="block-team-item">
                        <img src="../img/john.jpg" alt="" class="block-team__img">
                        <h3 class="block-team__name">John Doe</h3>
                        <p class="block-team__position">General Manager</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="../img/Alexa.jpg" alt="" class="block-team__img">
                        <h3 class="block-team__name">Alexa Biru</h3>
                        <p class="block-team__position">Office Director</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="../img/Ronobir.jpg" alt="" class="block-team__img">
                        <h3 class="block-team__name">Ronobir sing</h3>
                        <p class="block-team__position">Admin</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <!-- <div class="block-team-item">
                        <img src="" alt="" class="block-team__img">
                        <h3 class="block-team__name">John Doe</h3>
                        <p class="block-team__position">General Manager</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="" alt="" class="block-team__img">
                        <h3 class="block-team__name">Alexa Biru</h3>
                        <p class="block-team__position">Office Director</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="" alt="" class="block-team__img">
                        <h3 class="block-team__name">Ronobir sing</h3>
                        <p class="block-team__position">Ad</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="" alt="" class="block-team__img">
                        <h3 class="block-team__name">John Doe</h3>
                        <p class="block-team__position">General Manager</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="" alt="" class="block-team__img">
                        <h3 class="block-team__name">Alexa Biru</h3>
                        <p class="block-team__position">Office Director</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="block-team-item">
                        <img src="" alt="" class="block-team__img">
                        <h3 class="block-team__name">Ronobir sing</h3>
                        <p class="block-team__position">Ad</p>
                        <ul class="block-team-social">
                            <li><a href=""><img src="../img/facebook-f.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/comments.svg" alt=""></a></li>
                            <li><a href=""><img src="../img/dribbble.svg" alt=""></a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="page page_green">
            <div class="wrap">
                <h2 class="page__title">Blog</h2>
                <p class="page__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="block-blog">
                    <div class="block-blog-item">
                        <img src="../img/blogimg1.jpg" alt="" class="block-blog__img">
                    </div>
                    <div class="block-blog-item">
                        <h3 class="block-blog__title"><a href="">SEO Quis Vestibulum</a></h3>
                        <div class="block-blog-date">
                            <img src="../img/calendar.png" alt="">
                            <p class="block-blog__text">14.07.2017</p>
                            <img src="../img/blog-icon.png" alt="">
                            <p class="block-blog__text">Development</p>
                        </div>
                        <p class="block-blog__desc">Dolore magna aliqua. Ut enim ad minim veniam, quis nos- trud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat...</p>
                    </div>
                    <div class="block-blog-item active">
                        <h3 class="block-blog__title"><a href="">SEO Quis Vestibulum</a></h3>
                        <div class="block-blog-date">
                            <img src="../img/calendar.png" alt="">
                            <p class="block-blog__text">14.07.2017</p>
                            <img src="../img/blog-icon.png" alt="">
                            <p class="block-blog__text">Development</p>
                        </div>
                        <p class="block-blog__desc">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                    </div>
                    <div class="block-blog-item">
                        <img src="../img/blogimg2.jpg" alt="" class="block-blog__img">
                    </div>
                    <div class="block-blog-item  active">
                        <img src="../img/blogimg3.jpg" alt="" class="block-blog__img">
                    </div>
                    <div class="block-blog-item active">
                        <h3 class="block-blog__title"><a href="">SEO Quis Vestibulum</a></h3>
                        <div class="block-blog-date">
                            <img src="../img/calendar.png" alt="">
                            <p class="block-blog__text">14.07.2017</p>
                            <img src="../img/blog-icon.png" alt="">
                            <p class="block-blog__text">Development</p>
                        </div>
                        <p class="block-blog__desc">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ПРОВЕРКАexercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                    </div>
                </div>
                <button class="page__btn">MORE VIEW</button>
            </div>
        </div>
        <footer class="footer">
            <div class="wrap">
                <h2 class="footer__title">Contact Us</h2>
                <p class="footer__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                <div class="block-contacts">
                    <div class="block-contacts-item">
                        <div class="block-contacts-icon"><img src="../img/adrees.png" alt="" class="block-contacts__img"></div>
                        <p class="block-contacts__text">Nobinagar savar, Dhaka Bangladesh</p>
                    </div>
                    <div class="block-contacts-item">
                        <div class="block-contacts-icon"><img src="../img/phone-call.png" alt="" class="block-contacts__img"></div>
                        <a href="" class="block-contacts__link">+8801743331996</a>
                        <a href="" class="block-contacts__link">+8801928737807</a>
                    </div>
                    <div class="block-contacts-item">
                        <div class="block-contacts-icon"><img src="../img/mail.png" alt="" class="block-contacts__img"></div>
                        <a href="" class="block-contacts__link">quickmasud@gmail.com</a>
                        <a href="" class="block-contacts__link">quickmasud@yahoo.com</a>
                    </div>
                </div>
                <div class="block-form">
                    <input type="name" placeholder="Your NAME" name="name" required class="block-form__input">
                    <input type="email" placeholder="Your Email" name="email" required class="block-form__input">
                    <textarea name="comments" cols="100" rows="4" placeholder="Write Massage" class="block-form__input block-form__input_width"></textarea>
                    <button type="submit" class="block-form__btn">SEND</button>
                </div>
                
            </div>
            <img src="../img/footer.jpg" class="footer__img" alt="">
            <div class="credits">
                <p>All rights Reserved © 2017</p>
            </div>
        </footer>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
